[project]
	description = sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shannraj
[access "refs/for/refs/*"]
	read = group user/shannraj
	push = group user/shannraj
	label-Code-Review = -2..+2 group user/shannraj
	label-Verified = -1..+1 group user/shannraj
	rebase = group user/shannraj
	removeReviewer = group user/shannraj
	submit = group user/shannraj
[access "refs/heads/*"]
	read = group user/shannraj
	create = group user/shannraj
	push = +force group user/shannraj
	pushMerge = group user/shannraj
[access "refs/tags/*"]
	push = +force group user/shannraj
	pushTag = group user/shannraj
	pushSignedTag = group user/shannraj
